@using System.Web.Optimization
@using LondonTransportAPI.Models.BikePoint
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<BikePoint> bikePoints = null;
    int totalPages = ViewBag.totalPages;
    
    if (ViewBag.result != null)
    {
        bikePoints = (List<BikePoint>)ViewBag.result;
    }
    
}



<div>
    
    <div class="col-xs-12">
        <h2>Find your bike point !</h2>
        Find BikePoints by location and distance (default distance - 500 meters)
    </div>
    <div class="col-xs-12">
        
        <form id="search" method="GET" action="@Url.Action("SearchBikePointsByRadius","Home", new{ query = ""})" class="form-inline">
            <fieldset class="form-group">
                <input name="address" id="address" placeholder="Street, Building" class="form-control"/>
                <select name="meters" class="selectpicker">
                    <option disabled selected>distance</option>
                    <option value="200">200 meters</option>
                    <option value="500">500 meters</option>
                    <option value="1000">1000 meters</option>
                    <option value="1500">1500 meters</option>
                    <option value="2000">2000 meters</option>
                </select>
                <input type="submit" class="btn btn-success" name="button" value="Find"/>
            </fieldset>
            
        </form>
        
        <div class="addresses-results-container ">
            <!--
            <div class="address-results-info-message bg-info">
                Some message blah-blah
            </div>
            <div class="address-results-items thumbnail">
                <div class="address-item list-group-item">
                    Some item 1
                </div>
                <div class="address-item list-group-item">
                    Some item 2
                </div>
                <div class="address-item list-group-item">
                    Some item 3
                </div>
            </div>
            <div>
                <button class="btn btn-danger">Close</button>
            </div>
            -->
        </div>
        
    </div>
    <div class="col-xs-12">
        <h3>List of BikePoints</h3>
    </div>
    <div class="bike-points-container">
        
        @if (bikePoints != null)
        {
            foreach (var item in bikePoints)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 bike-point-item">
                    <div class="item thumbnail ">
                    
                        <div>
                            <label>Place: </label>
                            @item.commonName
                        </div>
            
                
                        
                        @foreach (AdditionalProperty ap in @item.additionalProperties)
                        {

                            switch (@ap.key)
                            {
                                case "NbBikes":
                                    <div>
                                        <label>Number of bikes:</label>
                                        @ap.value
                                    </div>
                                    break;
                                case "NbEmptyDocks":
                                    <div>
                                        <label>Number of empty docks:</label>
                                        @ap.value
                                    </div>
                                    break;
                                case "NbDocks":
                                    <div>
                                        <label>Total number of docks:</label>
                                        @ap.value
                                    </div>
                                    break;
  
                            }
                            /*
                                    <li>@ap.category</li>
                                    <li>@ap.key</li>
                                    <li>@ap.sourceSystemKey</li>
                                    <li>@ap.value</li>
                                    <li>@ap.modified</li>
                                    <li>---------------</li>*/
                        }
                        
                        
                        <button name="@item.commonName" lat="@item.lat" lon="@item.lon" onclick="showBikePoint(this)" class="btn  btn-default" value="Show on map">Show on map</button>
                    
                    </div>
                
                </div>
            }
        }
    </div>
    
    
    
    <div class="col-xs-12">
        <ul class="pagination">
            @{
                var active = "class=active";
            }
            @for (int i=1;i<totalPages+1;i++)
            {
                <li @if (i == 1){ @active;}>
                    <a style="width: 50px" href="javascript:void(0)" link="@Url.Action("GetBikePoints","Home",new{pageNum = i})">@i</a>
                </li>
            }
        </ul>
    </div>
</div>

@Scripts.Render("~/bundles/home")
