@using System.Web.Optimization
@using LondonTransportAPI.Models.BikePoint
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<BikePoint> bikePoints = null;
    int totalPages = ViewBag.totalPages;
    
    if (ViewBag.result != null)
    {
        bikePoints = (List<BikePoint>)ViewBag.result;
    }
    
}

<h2>Index</h2>

<div>
    <div class="col-xs-12">
        <div>
            @ViewBag.Message
        </div>
        <div>
            <p>Some content of the main page !!!
                Response from web api:</p>
            <br/>
        </div>
    </div>
    
    <div class="bike-points-container">
        @if (bikePoints != null)
        {
            foreach (var item in bikePoints)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 bike-point-item">
                    <div class="item thumbnail ">
                    
                        <div>
                            <label>Place: </label>
                            @item.commonName
                        </div>
            
                
                        
                        @foreach (AdditionalProperty ap in @item.additionalProperties)
                        {

                            switch (@ap.key)
                            {
                                case "NbBikes":
                                    <div>
                                        <label>Number of bikes:</label>
                                        @ap.value
                                    </div>
                                    break;
                                case "NbEmptyDocks":
                                    <div>
                                        <label>Number of empty docks:</label>
                                        @ap.value
                                    </div>
                                    break;
                                case "NbDocks":
                                    <div>
                                        <label>Total number of docks:</label>
                                        @ap.value
                                    </div>
                                    break;
  
                            }
                            /*
                                    <li>@ap.category</li>
                                    <li>@ap.key</li>
                                    <li>@ap.sourceSystemKey</li>
                                    <li>@ap.value</li>
                                    <li>@ap.modified</li>
                                    <li>---------------</li>*/
                        }
                        
                        
                        <button name="@item.commonName" lat="@item.lat" lon="@item.lon" onclick="showBikePoint(this)" class="btn  btn-default" value="Show on map">Show on map</button>
                    
                    </div>
                
                </div>
            }
        }
    </div>
    
    
    
    <div>
        <ul class="pagination">
            @{
                var active = "class=active";
            }
            @for (int i=1;i<totalPages+1;i++)
            {
                <li @if (i == 1){ @active;}>
                    <a href="javascript:void(0)" link="@Url.Action("GetBikePoints","Home",new{pageNum = i})">@i</a>
                </li>
            }
        </ul>
    </div>
</div>

@Scripts.Render("~/bundles/home")
